.navbar {
  display: flex; /*df*/
  align-items: center; /*чтоб были по середине*/
  padding-top: 15px; /*pt отступ сверху*/
  padding-bottom: 15px;
  border-radius: 4px;
  position: relative;
  min-height: 50px;
  margin-bottom: 20px;
  border: 1px solid transparent;
}
.btn {
  display: block;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  line-height: 10px;
  padding: 14px 34px;
  text-decoration: none;
}

.navbar-brand {
  /*начало*/
  color: white; /* Цвет обычной ссылки */
  position: relative;
  cursor: pointer;
  text-decoration: none; /* Убираем подчеркивание */
}
.navbar-brand:after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: -3px;
  width: 0;
  height: 2px; /* Высота линии */
  background-color: rgb(
    212,
    190,
    190
  ); /* Цвет подчеркивания при исчезании линии*/
  transition: width 0.5s; /* Время эффекта */
}
.navbar-brand:hover:after {
  content: "";
  width: 100%;
  display: block;
  position: absolute;
  left: 0;
  bottom: -3px;
  height: 2px; /* Высота линии */
  background-color: #0d6efd; /* Цвет подчеркивания при появлении линии*/
  transition: width 0.5s; /* Время эффекта */
}

.nav-link {
  /*начало*/
  color: white; /* Цвет обычной ссылки */
  position: relative;
  cursor: pointer;
  text-decoration: none; /* Убираем подчеркивание */
}
.nav-link:after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: -3px;
  width: 0;
  height: 2px; /* Высота линии */
  background-color: rgb(
    212,
    190,
    190
  ); /* Цвет подчеркивания при исчезании линии*/
  transition: width 0.5s; /* Время эффекта */
}
.nav-link:hover:after {
  content: "";
  width: 100%;
  display: block;
  position: absolute;
  left: 0;
  bottom: -3px;
  height: 2px; /* Высота линии */
  background-color: #0d6efd; /* Цвет подчеркивания при появлении линии*/
  transition: width 0.5s; /* Время эффекта */
}
